:root {
  --light-red: #ff3737;
  --light-gray: #dbdbdb;
  --light-white: #fff;
  --medio-gray: #b8b8b8;
  --light-black: #333;

  --black-gray: #1f1f1f;
  --animeted-variable: ease-in-out 200ms;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 2rem;
  font-weight: 600;
}


header .logo-header img {
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--animeted-variable);
}

header .logo-header img:hover {
  transform: scale(1.1);
}

.address-div-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding: 0.5rem 0.7rem;
  border-radius: 50px;
  box-shadow: inset 0px 0px 0px 2px var(--medio-gray);
  cursor: pointer;
}

p#address-for-delivery {
  width: 150px;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.user-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  cursor: pointer;
}

.user-infos .bell-notification i {
  font-size: 1.2rem;
}

.bell-notification {
  position: relative;
}

.bell-notification .notification-quantity {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: rgb(255, 152, 63);
  border-radius: 50%;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.7rem;
}

.user-info-config img {
  border-radius: 50%;
  cursor: pointer;
}

.modal,
.modal-edit-address {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  justify-content: center;
  position: fixed;
  cursor: pointer;
}

.modal .modal-content {
  position: absolute;
  width: 450px;
  height: 350px;
  overflow-y: scroll;
  border-radius: 6px;
  background-color: #f4f5f6;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 500;
  padding: 1rem;
  font-weight: 600;
}

.modal-edit-address .modal-edit-content-address  {
  position: absolute;
  width: 450px;
  height: 350px;
  border-radius: 6px;
  background-color: #d2d3d3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 500;
  padding: 1rem;
  font-weight: 600;
  overflow: scroll;
}

.modal-content .delivery-address,
.edit-address {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.actual-address {
  border: 2px solid rgb(255, 72, 0);
}

.address-box {
  border: 2px solid rgb(65, 65, 65);
}

.delete-box {
  border: 3px solid rgb(255, 0, 0);
  transition: var(--animeted-variable);
}

.delete-box:hover {
  background-color: rgba(255, 7, 7, 0.155);
}

.rest-infos {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
  width: 280px;
}

.label-icon {
  font-size: 1.4rem;
}

.pontinhos {
  display: flex;
  flex-direction: column; 
  align-items: center;
  font-size: 0.3rem;
  gap: 0.2rem;
  cursor: pointer;
  padding: 1rem;
}

.rest-infos .street {
  width: 250px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.close-btn,
.close-edit-btn-address {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  border: none;
}

.close-btn i,
.close-edit-btn-address i {
  font-size: 1.5rem;
  margin: 0.3rem 0 0 0.3rem;
  color: var(--light-red);
}

.more-address {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid rgb(65, 65, 65);
  transition: var(--animeted-variable);
  margin-bottom: 0.6rem;
}

.more-address#addAddress:hover {
  background-color: #76d76d;
}

.more-address#removeAddress:hover {
  background-color: var(--light-red);
  color: #f4f5f6;
}

#address-form label {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 10px;
  text-align: start;
  margin-bottom: 0.5rem;
}

#address-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
}

#address-form input:focus {
  outline: none;
  border-color: #ff3333;
}

#address-form .submit-btn-edit {
  background-color: #ff3333;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

#address-form .submit-btn-edit:hover {
  background-color: #cc0000;
}

.checkbox-container {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #ff3333;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.custom-checkbox:checked {
  background-color: #ff3333;
  border-color: #ff3333;
}

.custom-checkbox:checked::after {
  content: '✔';
  font-size: 16px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-checkbox:hover {
  border-color: #ff6666;
}

.checkbox-label {
  margin-left: 10px;
  font-size: 16px;
  color: #333;
}

/* .user-info-config p {
  background-color: #337ab7;
  color: #f4f5f6;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  border-radius: 2px;
  transition: var(--animeted-variable);
}

.user-info-config p:hover {
  background-color: hsl(208, 56%, 56%);
} */

.display {
  display: none;
}