:root {
  --light-red: #ff3737;
  --light-gray: #dbdbdb;
  --light-white: #fff;
  --medio-gray: #b8b8b8;
  --light-black: #333;

  --black-gray: #1f1f1f;
  --animeted-variable: ease-in-out 200ms;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 2rem;
  font-weight: 600;
}


header .logo-header img {
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--animeted-variable);
}

header .logo-header img:hover {
  transform: scale(1.1);
}

.address-div-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding: 0.5rem 0.7rem;
  border-radius: 50px;
  box-shadow: inset 0px 0px 0px 2px var(--medio-gray);
  cursor: pointer;
}

p#address-for-delivery {
  width: 150px;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.user-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  cursor: pointer;
}

.user-infos .bell-notification i {
  font-size: 1.2rem;
}

.bell-notification {
  position: relative;
}

.bell-notification .notification-quantity {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: rgb(255, 152, 63);
  border-radius: 50%;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.7rem;
}

.user-info-config img {
  border-radius: 50%;
  cursor: pointer;
}

.modal {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  justify-content: center;
  position: fixed;
  cursor: pointer;
}

.modal .modal-content {
  position: absolute;
  width: 450px;
  height: 350px;
  overflow-y: scroll;
  border-radius: 6px;
  background-color: #f4f5f6;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 500;
  padding: 1rem;
  font-weight: 600;
  transition: ease-in-out 600ms;
}

.modal-content .delivery-address {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.actual-address {
  border: 2px solid rgb(255, 72, 0);
}

.address-box {
  border: 2px solid rgb(65, 65, 65);
}

.rest-infos {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
  width: 280px;
}

.label-icon {
  font-size: 1.4rem;
}

.pontinhos {
  display: flex;
  flex-direction: column; 
  align-items: center;
  font-size: 0.3rem;
  gap: 0.2rem;
  cursor: pointer;
  padding: 1rem;
}

.rest-infos .street {
  width: 250px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.close-btn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  border: none;
}

.close-btn i {
  font-size: 1.5rem;
  margin: 0.3rem 0 0 0.3rem;
  color: var(--light-red);
}

.more-address {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid rgb(65, 65, 65);
  transition: var(--animeted-variable);
}

.more-address:hover {
  background-color: #c8c8c8;
}
/* .user-info-config p {
  background-color: #337ab7;
  color: #f4f5f6;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  border-radius: 2px;
  transition: var(--animeted-variable);
}

.user-info-config p:hover {
  background-color: hsl(208, 56%, 56%);
} */

.display {
  display: none;
}