:root {
  --light-red: #ff3737;
  --light-gray: #dbdbdb;
  --light-white: #fff;
  --medio-gray: #b8b8b8;
  --light-black: #333;

  --black-gray: #1f1f1f;
  --animeted-variable: ease-in-out 200ms;
}

main {
  width: 100vw;
  height: 100vh;
  color: var(--light-black);
  background-color: var(--light-white);
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background-color: var(--light-black);
  color: var(--light-white);
  padding: 1rem 1.5rem;
  border-radius: 4px;

}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 1rem;
}

.logo img {
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--animeted-variable);
}

.logo img:hover {
  transform: scale(1.1);
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.7rem 1rem;
}

.input-group {
  width: 200px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem 0;
}

.input-group label {
   font-weight: 600;
}

.input-group input:hover,
.input-group input:focus {
  background-color: var(--light-gray);
}

.input-group input {
  width: 100%;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1.1rem;
  border: 3px solid transparent;
  transition: var(--animeted-variable);
}

.submit-div-button {
  width: 100%;
}

.submit-div-button button {
  padding: 6px 12px;
  border-radius: 4px;
  background-color: var(--light-red);
  color: var(--light-white);
  font-size: 1.1rem;
  width: 100%;
  transition: var(--animeted-variable);
}

.submit-div-button button:hover {
  background-color: hsl(0, 89%, 38%);
  border: 2px solid rgb(160, 10, 10);
}

.have-account-div {
  margin: 1rem 0;
  font-size: 14px;
}

.have-account-div span {
  color: rgb(70, 177, 249);
  font-weight: 700;
  cursor: pointer;
  transition: var(--animeted-variable);
}

.have-account-div span:hover {
  color: hwb(204 22% 24%);
}

.infos-validate {
  margin-top: 0.5rem;
}

.infos-validate p {
  color: var(--light-gray);
  line-height: 20px;
  font-size: 14px;
}

.button-question {
  cursor: pointer;
  margin-left: 0.5rem;
}

.display {
  display: none;
}