/* Tela celular */

@media (max-width: 768px) {
  form {
    height: 100%;
    width: 100%;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } 

  .input-group {
    width: 100%;
  }

  .header-home {
    padding: 0 0.5rem;
  }

  .address-div-switch {
    width: 170px;
  }

  .user-infos {
    gap: 1rem;
  }
}

/* Telas Grandes */

@media screen and (min-width: 1720px) {
.input-group {
  width: 400px;
}
}